@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

.gradient_background {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
      0deg,
      transparent 49%,
      hsla(0, 0%, 100%, 0.06) 50%,
      hsla(0, 0%, 100%, 0.06) 51%,
      transparent 52%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 49%,
      hsla(0, 0%, 100%, 0.06) 50%,
      hsla(0, 0%, 100%, 0.06) 51%,
      transparent 52%,
      transparent
    );
  background-size: 40px 40px;
  pointer-events: none;
  mask-image: radial-gradient(circle, #fff 50%, transparent 100%);
  mask-size: cover;
  mask-position: center;
  mask-image: linear-gradient(180deg, #fff 270px, transparent 480px);
  z-index: -1;
}

/* for model response loading */
.loader {
  width: 25px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, green 90%, #0000) 0 /
    calc(100% / 3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}

@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}
