@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-image: url("/grid.svg");
}

.main {
  content: "";
  background-image: url("/assets/images/grid.svg");
  z-index: -2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.8;
}

.gradient_background {
  position: absolute;
  background: linear-gradient(
    120deg,
    transparent 10%,
    rgba(0, 0, 0, 0.7) 25%,
    black 50%,
    rgba(0, 0, 0, 0.7) 75%,
    transparent 90%
  );
  z-index: 1;
  content: "";
  width: 100%;
  height: 100%;
}

.gradient {
  position: absolute;
  background: linear-gradient(120deg, orange, transparent);
  z-index: -1;
  width: 300px;
  height: 300px;
  left: 0;
  top: 0;
  filter: blur(150px) saturate(150%);
  opacity: 0.8;
}
.second_gradient {
  position: absolute;
  background: linear-gradient(120deg, transparent, yellow);
  z-index: -2;
  width: 300px;
  height: 300px;
  right: 0;
  bottom: 0;
  filter: blur(150px) saturate(150%);
  opacity: 0.8;
}

@media screen and (max-width: 740px) {
  .second_gradient {
    opacity: 0.09;
    right: 0;
    bottom: 0;
  }
}
